@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-background-base: #05080E;
  --color-primary: #05080E;
  --color-secondary: #0E1014;
  --color-foreground: #ffffff;
  --color-gray-100: #1F1F1F;
  --color-red-100: #E50000;
  --color-gray-200: #262626;
  --color-gray-300: #1A1A1A;

  
  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

:root {
  --background-base: #05080E;
  --primary: #05080E;
  --secondary: #0E1014;
  --foreground: #ffffff;
}

body {
  background: var(--background-base);
  color: var(--foreground);
  font-family: var(--font-urbanist);
  font-weight: var(--font-weight-normal);
}
